<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ApplePushNotification" iconfile="push.png" description="Apple Push Notification" 
  tooltip="Is capable to send push notifications to apple devices" category="Utility" 
  classname="com.latinojoel.di.trans.steps.pushnotifications.apple.PushNotificationStepMeta">
	<libraries>
		<library name="lib/push.notification.step-1.0.0.jar"/>
		<library name="lib/jackson-databind-2.1.4.jar"/>
		<library name="lib/mockito-all-1.9.5.jar"/>
		<library name="lib/Jackson-annotations-2.1.4.jar"/>
		<library name="lib/apns-0.2.3.jar"/>
		<library name="lib/slf4j-api-1.7.2.jar"/>
	</libraries>
</plugin>
